.footer{
    width: 100%;
    height: 1.5rem;
    background: rgba(61,61,63,.9);
    flex-shrink: 0;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 0 0 0 0.5rem;
    align-items: center;
    box-sizing: border-box;
    z-index: 9999;
    .footGouwu{
        width: 1.2rem;
        height: 1.2rem;
        border:6px solid #444;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #333;
        margin-top: -0.3rem;
        z-index: 99;
        position: relative;
        .FoootBadge{
            position: absolute;
            right:0;
            top:0;
        }
        i.gouwuche{
            color: #777;
            font-size: 0.8rem;

        }
        i.gouwuche1{
            font-size: 0.8rem;
            color: #3190e8;
        }
    }
    .btnOk{
        background:#666;
        height: 100%;
        padding: 0 0.9rem;
        display: flex;
        align-items: center;
        font-weight: 800;
        color: #333;
    }
    .unDisbale{
        background: #56d176;
        color: #fff;
    }
}