@charset "UTF-8";
.Main {
  /** 清除内外边距 **/
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  overflow-y: auto;
}

.Main body, .Main h1, .Main h2, .Main h3, .Main h4, .Main h5, .Main h6, .Main hr, .Main p, .Main blockquote,
.Main dl, .Main dt, .Main dd, .Main ul, .Main ol, .Main li,
.Main pre,
.Main form, .Main fieldset, .Main legend, .Main button, .Main input, .Main textarea,
.Main th, .Main td {
  margin: 0;
  padding: 0;
  color: #333;
}

.Main .banner {
  width: 100%;
}

.Main .banner > img {
  width: 100%;
}

.Main .title {
  text-align: center;
  height: 2.5rem;
  margin-top: -1rem;
}

.Main .title > img {
  height: 100%;
}

.Main .tit_name {
  font-size: 0.6rem;
  font-weight: 800;
  color: #333;
}

.Main .promotion {
  color: #999;
}

.Main .scrolls {
  height: 40rem;
  width: 100%;
  overflow-y: auto;
}
