.Msg {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Msg .guestMsg {
  width: 100%;
  padding: 0.3rem 0.3rem 0 0.3rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: 3rem;
}

.Msg .guestMsg .desk {
  display: flex;
  align-items: center;
  padding: 0.3rem 0;
  border-bottom: 1px solid #ccc;
}

.Msg .guestMsg .desk .deskNUm {
  width: 3rem;
  border: 0px solid #ccc;
}

.Msg .guestMsg .peopleNum {
  display: flex;
  align-items: center;
}

.Msg .isMenu {
  width: 100%;
  flex: 1;
  overflow-y: auto;
}

.Msg .isMenu > h2 {
  width: 100%;
  height: 1rem;
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  box-sizing: border-box;
  background: #e2e2e2;
  color: #333;
}

.Msg .isMenu .isMenuTit {
  width: 100%;
  display: flex;
  height: 1rem;
  align-items: center;
  border-bottom: 1px dashed #ccc;
}

.Msg .isMenu .isMenuTit li {
  flex: 1;
  display: flex;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Msg .isMenu .isMenuTit > li:nth-child(1) {
  justify-content: start;
  padding-left: 0.2rem;
}

.Msg .isMenu .MenuList {
  display: flex;
  flex-direction: column;
}

.Msg .addMenu {
  width: 70%;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  border-radius: 0.3rem;
  border: 1px solid #ccc;
  background: linear-gradient(#fff, #e3dcdc);
  box-shadow: 0.09rem 0.01rem 5px #888888;
}

.Msg .addMenu i.canpan {
  font-size: 0.9rem;
  color: red;
}

.Msg .Footer {
  width: 100%;
  height: 1.5rem;
  background: rgba(61, 61, 63, 0.9);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  margin-top: 0.3rem;
}

.Msg .Footer .all {
  display: flex;
  width: 30%;
  justify-content: space-around;
}

.Msg .Footer .all .allnum, .Msg .Footer .all .allpic {
  color: #fff;
  font-size: 0.5rem;
}

.Msg .Footer .all .allnum span, .Msg .Footer .all .allpic span {
  color: red;
}

.Msg .Footer .goPay {
  width: 3rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: red;
  color: #fff;
}
